<% if @errors.present? %>
<div class="errors">
	<ul>
		<% @errors.each do |error| %>
		<li> <%= error %> </li>
		<% end %>
	</ul>
</div>
<% end %>
<h3> Decision Information </h3>
<h4> Decision Name </h4>
<%= simple_form_for @decisionroom, url: {action: "create"} do |f| %>
	<%= f.input :name, label: false %>
<h4> What is the Decision about? </h4>
	<%= f.input :description, label: false, as: :text %>
<div class="Alternatives">
<hr />
	<h4> Add your Alternatives </h4>
	<% $i = 1 %>
	<%= f.simple_fields_for :alternatives do |alternative| %>
		<b> Alternative #<%= $i %> </b>
		<%= render 'alternative_fields', f: alternative %>
		<% $i += 1 %>
		<% end %>
</div>
		<div class="links">
		<button><%= link_to_add_association 'Add', f, :alternatives %>
		</button>
		</div>
<div class="Criterions">
<hr />
	<h4> Add your Criterions </h4>
	<% $i = 1 %>
	<%= f.simple_fields_for :criterions do |criterion| %>
		<h5> Criterion #<%= $i %> </h5>
		<%= render 'criterion_fields', f: criterion %>
		<% $i += 1 %>
		<% end %>
</div>
		<div class="links">
		<button><%= link_to_add_association 'Add', f, :criterions %>
		</button>
		</div>
<hr />
		<%= f.submit "Create Decision", :class => "button special" %>	
<% end %>


