<% if @errors.present? %>
<div class="errors">
	<ul>
		<% @errors.each do |error| %>
		<li> <%= error %> </li>
		<% end %>
	</ul>
</div>
<% end %>
<%= form_for @decisionroom do |f| %>
<table>
	<tr>
		<td> Criterions </td>
		<td> Weight </td>
		<% @decisionroom.alternatives.each do |alternative| %>
			<td> <%= alternative.name %> </td>
			<td></td>
			<% @ary.push(alternative.id) %>
		<% end %>
	</tr>
	<% @decisionroom.criterions.order(:position).each do |criterion| %>
	<tr>
		<td> <%= criterion.name %></td> 
		<td> <%= (criterion.weight * 100).round(2) %> % </td>
		<% $i = 0 %>
		<%= f.fields_for :votes, [Vote.new]*@ary.count do |vote| %>
			<%= vote.hidden_field :alternative_id, :value => @ary[$i] %>
			<%= vote.hidden_field :criterion_id, :value => criterion.id %>
			<%= vote.hidden_field :user_id, :value => current_user.id %>
			<td> <%= vote.number_field :value, min: 1, max: 5, style: "color:black;" %> <td>
		<% $i += 1 %>
		<% end %> 
	</tr>
	<% end %>
</table>
	<%= f.submit "Add Votes", class: "button special" %>
<%end%>