<article id="main">
<% if @decisionroom.has_outcome? then %>
	<header>
	<h2>The decision "<%= @decisionroom.name %>" made by
	<% if current_user.id == @decisionroom.creator.id then %>
	you
	<% else %>
	<%= @decisionroom.creator.name %>
	<% end %>
	has an outcome!
	</h2>
	<p>
	Your Team prefers the alternative:
	"<%= @decisionroom.alternatives.find_by(id: TeamoutcomeSum.find_by(decisionroom_id: @decisionroom.id, outcome_sum: TeamoutcomeSum.where(decisionroom_id: @decisionroom.id).maximum(:outcome_sum)).alternative_id).name %>"! <br />
	</p>
	<%= link_to "See Team Outcome", decisionroom_teamoutcome_index_path(decisionroom_token: @decisionroom.token), class: "button special" %>
	</header>
<% else %>
<section class="wrapper style5">
<div class="inner">
<section>
<h2><%= @decisionroom.name %> </h2>
<% if current_user.id == @decisionroom.creator.id then %>
<h4>Created by You </h4>
<% else %>
<h4>Created by <%= @decisionroom.creator.name %> </h4>
<% end %>
<hr />
<h3> Alternatives</h3>
<table class="Alternatives_show">
	<tr>
		<td>No.</td>
		<td>Name</td>
		<td>Description</td>
	</tr>

	<% $i = 0 %>
	<% @decisionroom.alternatives.each do |alternative| %>
	<% $i += 1 %>
	<tr>
		<td><%= $i %></td>
		<td><%= alternative.name %></td>
		<td><%= alternative.description %></td>
	</tr>
	<% end %>
</table>
<hr />
<h3> Criterions </h3>
<table class="Criterions_show">
	<tr>
		<td>No.</td>
		<td>Name</td>
		<td>Description</td>
		<td>Weight</td>
	</tr>

	<% $j = 0 %>
	<% @decisionroom.criterions.order(:position).each do |criterion| %>
	<% $j += 1 %>
	<tr>
		<td><%= $j %></td>
		<td><%= criterion.name %></td>
		<td><%= criterion.description %></td>
		<td><%= (criterion.weight * 100).round(2) %> %</td>
	</tr>
	<% end %>
</table>
<hr />
<% if current_user.has_voted == true then %>
<h3> Votes </h3>
<table>
	<tr>
		<td>
			Criterion
		</td>
		<td>
			Weight
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= alternative.name %>
		</td>
		<% end %>
	</tr>
	<% @decisionroom.criterions.order(:position).each do |criterion| %>
	<tr>
		<td>
			<%= criterion.name %>
		</td>
		<td>
			<%= (criterion.weight * 100).round(2) %> %
		</td>
		<% @decisionroom.alternatives.each do |alt| %>
		<td>
			<% if Vote.find_by(alternative_id: alt.id, criterion_id: criterion.id, user_id: current_user.id) then %>
			<%= Vote.find_by(alternative_id: alt.id, criterion_id: criterion.id, user_id: current_user.id).value %>
			<% else %>
			<%= "-" %>
			<% end %>
		</td>
		<% end %>
	</tr>
	<% $i += 1 %>
	<% end %>
</table>
<hr />
<h3> Votes Weighted </h3>
<table>
	<tr>
		<td>
			Criterion
		</td>
		<td>
			Weight
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= alternative.name %>
		</td>
		<% end %>
	</tr>
	<% @decisionroom.criterions.order(:position).each do |criterion| %>
	<tr>
		<td>
			<%= criterion.name %>
		</td>
		<td>
			<%= (criterion.weight * 100).round(2) %> %
		</td>
		<% @decisionroom.alternatives.each do |alt| %>
		<td>
			<% if Vote.find_by(alternative_id: alt.id, criterion_id: criterion.id, user_id: current_user.id) then %>
			<%= (Vote.find_by(alternative_id: alt.id, criterion_id: criterion.id, user_id: current_user.id).value_weighted).round(2) %>
			<% else %>
			<%= "-" %>
			<% end %>
		</td>
		<%end %>
	</tr>
	<% $i += 1 %>
	<% end %>

	<tr>
		<td>
			Sum
		</td>
		<td>
			1
		</td>
		<% @decisionroom.alternatives.each do |alter| %>
		<td>
			<% if WeightedSum.find_by(alternative_id: alter.id, user_id: current_user.id) then %>
			<%= (WeightedSum.find_by(alternative_id: alter.id, user_id: current_user.id).value_weighted_sum).round(2) %>
			<% end %>
		</td>
		<% end %>
	</tr>
</table>
<hr />
<% end %>
<p class="Teamoutcome-actions">
	<% if @test == 1 && @decisionroom.users.count > 1 then %>
		Team Outcome-Actions: </br>
		<% if !@decisionroom.has_outcome? then %>
		<%= link_to "Generate Team Outcome", decisionroom_teamoutcome_index_path(decisionroom_token: @decisionroom.token), method: :post, class: "button special" %>
		<% else %>
		<%= link_to "See Team Outcome", decisionroom_teamoutcome_index_path(decisionroom_token: @decisionroom.token), class: "button special" %>
		<% end %>
	<% end %>
</p>

<p class="Decisiontable-actions">
Decisiontable-Actions: </br>
	<%= link_to "Vote!", decisionroom_new_votes_path(decisionroom_token: @decisionroom.token), class: "button special" %>
</p>
<p class="Decisionmaker_actions">
	Decisionmaker-Actions: </br>
	<%= link_to "Add Decisionmakers", decisionroom_user_add_member_path(decisionroom_token: @decisionroom.token), class: "button special" %> 
	<br />
	<%= link_to "See Decisionmakers", decisionroom_user_index_path(decisionroom_token: @decisionroom.token), class: "button" %> 
</p>
</div>
<% end %>
</section>
</div>
</section>
</article>