<h1>Decisionroom#show</h1>
<p>Find me in app/views/decisionroom/show.html.erb</p>

<h1><%= @decisionroom.name %> </h1>
<h4>Created by <%= @decisionroom.creator.email %> </h4>
<div>
<p class="Decisiontable-actions">
Decisiontable-Actions: </br>
	<%= link_to "Create Decisiontable", new_decisionroom_table_path(decisionroom_id: @decisionroom.id) %>
</p>
<p class="Decisionmaker_actions">
Decisionmaker-Actions: </br>
	<%= link_to "Add Decisionmakers", new_decisionroom_decisionmaker_path(decisionroom_id: @decisionroom.id) %> |
	<%= link_to "See Decisionmakers", decisionroom_decisionmaker_index_path(decisionroom_id: @decisionroom.id) %>
</p>
<p class="Decisionroom_actions">
Decisionroom-Actions: </br>
	<%= link_to "Delete", decisionroom_path, confirm: "Are you sure?", method: :delete %> |
	<%= link_to "Back", decisionroom_index_path %>
</p>
</div>