<h2><%= @decisionroom.name %> </h2>
<h4>Created by <%= @decisionroom.creator.email %> </h4>
<div>

<h3> Alternatives</h3>
<table class="Alternatives_show">
	<tr>
		<td>No.</td>
		<td>Name</td>
		<td>Description</td>
	</tr>

	<% $i = 0 %>
	<% @decisionroom.alternatives.each do |alternative| %>
	<% $i += 1 %>
	<tr>
		<td><%= $i %></td>
		<td><%= alternative.name %></td>
		<td><%= alternative.description %></td>
	</tr>
	<% end %>
</table>


<h3> Criterions </h3>
<table class="Criterions_show">
	<tr>
		<td>No.</td>
		<td>Name</td>
		<td>Description</td>
		<td>Weight</td>
	</tr>

	<% $j = 0 %>
	<% @decisionroom.criterions.each do |criterion| %>
	<% $j += 1 %>
	<tr>
		<td><%= $j %></td>
		<td><%= criterion.name %></td>
		<td><%= criterion.description %></td>
		<td><%= criterion.weight %></td>
	</tr>
	<% end %>
</table>

<h3> Votes </h3>
<table>
	<tr>
		<td>
			Criterion
		</td>
		<td>
			Weight
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= alternative.name %>
		</td>
		<% end %>
	</tr>
	<% @decisionroom.criterions.each do |criterion| %>
	<tr>
		<td>
			<%= criterion.name %>
		</td>
		<td>
			<%= criterion.weight %>
		</td>
		<% @decisionroom.alternatives.each do |alt| %>
		<td>
			<% if Vote.find_by(alternative_id: alt.id, criterion_id: criterion.id, user_id: current_user.id) then %>
			<%= Vote.find_by(alternative_id: alt.id, criterion_id: criterion.id, user_id: current_user.id).value %>
			<% else %>
			<%= "-" %>
			<% end %>
		</td>
		<% end %>
	</tr>
	<% $i += 1 %>
	<% end %>
</table>

<h3> Votes Weighted </h3>
<table>
	<tr>
		<td>
			Criterion
		</td>
		<td>
			Weight
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= alternative.name %>
		</td>
		<% end %>
	</tr>
	<% @decisionroom.criterions.each do |criterion| %>
	<tr>
		<td>
			<%= criterion.name %>
		</td>
		<td>
			<%= criterion.weight %>
		</td>
		<% @decisionroom.alternatives.each do |alt| %>
		<td>
			<% if Vote.find_by(alternative_id: alt.id, criterion_id: criterion.id, user_id: current_user.id) then %>
			<%= Vote.find_by(alternative_id: alt.id, criterion_id: criterion.id, user_id: current_user.id).value_weighted %>
			<% else %>
			<%= "-" %>
			<% end %>
		</td>
		<%end %>
	</tr>
	<% $i += 1 %>
	<% end %>

	<tr>
		<td>
			Sum
		</td>
		<td>
			1
		</td>
		<% @decisionroom.alternatives.each do |alter| %>
		<td>
			<% if WeightedSum.find_by(alternative_id: alter.id, user_id: current_user.id) then %>
			<%= WeightedSum.find_by(alternative_id: alter.id, user_id: current_user.id).value_weighted_sum %>
			<% end %>
		</td>
		<% end %>
	</tr>
</table>

<p class="Teamoutcome-actions">
	<% if @test == 1 then %>
		Team Outcome-Actions: </br>
		<%= link_to "Generate Team Outcome", decisionroom_teamoutcome_index_path(decisionroom_id: @decisionroom.id), method: :post %> 
	<% end %>
</p>

<p class="Decisiontable-actions">
Decisiontable-Actions: </br>
	<% if @decisionroom.creator.email == current_user.email then %>
	<%= link_to "Change your Votes!", decisionroom_new_votes_path(decisionroom_id: @decisionroom.id) %>
	<% else %>
	<%= link_to "Vote!", decisionroom_new_votes_path(decisionroom_id: @decisionroom.id) %>
	<% end %>
</p>
<p class="Decisionmaker_actions">
	Decisionmaker-Actions: </br>
	<% if @decisionroom.creator.email == current_user.email then %>
	<%= link_to "Add Decisionmakers", new_decisionroom_decisionmaker_path(decisionroom_id: @decisionroom.id) %> |
	<% end %>
	<%= link_to "See Decisionmakers", decisionroom_decisionmaker_index_path(decisionroom_id: @decisionroom.id) %>
</p>
<p class="Decisionroom_actions">
Decisionroom-Actions: </br>
		<% if @decisionroom.creator.email == current_user.email then %>
		<%= link_to "Delete", decisionroom_path, confirm: "Are you sure?", method: :delete %> |
		<%= link_to "Edit", edit_decisionroom_path(decisionroom_id: @decisionroom.id) %> |
		<% end %>
	<%= link_to "Back", decisionroom_index_path %>
</p>
</div>