<article id="main">
<section class="wrapper style5">
<div class="inner">
<section>
	<h2>
		Check out the alginment of your group:
	</h2>

	<h4> This is your perspective, <%= current_user.name %> </h4>
	<p>
		The following table gives you an idea of how aligned your answers are in comparsion to other decision makers.
		100% percent means your answers are completely similiar compared to the other members.
	</p>
	<table>
		<tr>
			<td>
				User
			</td>
			<td>
				Your Alignemnt in Percentage
			</td>
		</tr>
		<% @decisionroom.users.each do |user| %>
			<% if current_user.id != user.id then %>
			<tr>
				<td>
					<%= user.name %>
				</td>
				<td>
				<!-- Suggestion for restructuring: using find_by and or -->
					<% FirstDecisionAnalysis.where(decisionroom_id: @decisionroom.id).order(:consens).each do |fda| %>
						<% if fda.usera_id == current_user.id && fda.userb_id == user.id then %>
							<%= fda.consens.round(2) *100 %> %
						<% elsif fda.usera_id == user.id && fda.userb_id == current_user.id then %>
							<%= fda.consens.round(2) *100 %> %
						<% end %>
					<% end %>
				</td>
				<!-- Here needs to be the analysis of the average voting decision maker -->
			</tr>
			<% end %>
		<% end %>
	</table>
	<br/>
	<%= link_to "Back", decisionroom_path(@decisionroom) %>
</section> 
</div>
</section>
</article>