<article id="main">
<section class="wrapper style5">
<div class="inner">
<section>
<h2>
	Team Decision Outcome
</h2>

<h4>
	Your team prefers the alternative "<%= @decisionroom.alternatives.find_by(id: TeamoutcomeSum.find_by(outcome_sum: TeamoutcomeSum.where(decisionroom_id: @decisionroom.id).maximum(:outcome_sum)).alternative_id).name %>"
</h4>

<% @decisionroom.users.each do |user| %>
<h3> Decisionmaker: <%= User.find(user.id).name %> </h3>
<table>
	<tr>
		<td>
			Criterion
		</td>
		<td>
			Weight
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= alternative.name %>
		</td>
		<% end %>
	</tr>
	<% @decisionroom.criterions.each do |criterion| %>
	<tr>
		<td>
			<%= criterion.name %>
		</td>
		<td>
			<%= criterion.weight %>
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= Vote.find_by(alternative_id: alternative.id, criterion_id: criterion.id, user_id: user.id).value_weighted %>
		</td>
		<% end %>
	</tr>
	<% end %>
	<tr>
		<td>
			Sum
		</td>
		<td>
			1
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= WeightedSum.find_by(user_id: user.id, alternative_id: alternative.id).value_weighted_sum %>
		</td>
		<% end %>
	</tr>
</table>
<% end %>

<hr />
<h3> Team Decision Outcome </h3>
<table>
	<tr>
		<td>
			Criterion
		</td>
		<td>
			Weight
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= alternative.name %>
		</td>
		<% end %>
	</tr>
	<% @decisionroom.criterions.each do |criterion| %>
	<tr>
		<td>
			<%= criterion.name %>
		</td>
		<td>
			<%= criterion.weight %>
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= Teamoutcome.find_by(alternative_id: alternative.id, criterion_id: criterion.id).average_value %>
		</td>
		<% end %>
	</tr>
	<% end %>
	<tr>
		<td>
			Sum
		</td>
		<td>
			1
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= TeamoutcomeSum.find_by(decisionroom_id: @decisionroom.id, alternative_id: alternative.id).outcome_sum %>
		</td>
		<% end %>
	</tr>
</table>
<%= link_to "Are you aligned with your team members?", decisionroom_first_decision_analysis_index_path(decisionroom_token: @decisionroom.token), class: "button special" %> </br>
<%= link_to "Back", decisionroom_path(@decisionroom) %>
</section>
</div>
</section>
</article>