<h1>Teamoutcome#index</h1>
<p>Find me in app/views/teamoutcome/index.html.erb</p>

<% @decisionroom.users.each do |user| %>
<h3> Decisionmaker: <%= User.find(user.id).email %> </h3>
<table>
	<tr>
		<td>
			Criterion
		</td>
		<td>
			Weight
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= alternative.name %>
		</td>
		<% end %>
	</tr>
	<% @decisionroom.criterions.each do |criterion| %>
	<tr>
		<td>
			<%= criterion.name %>
		</td>
		<td>
			<%= criterion.weight %>
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= Vote.find_by(alternative_id: alternative.id, criterion_id: criterion.id, user_id: user.id).value_weighted %>
		</td>
		<% end %>
	</tr>
	<% end %>
	<tr>
		<td>
			Sum
		</td>
		<td>
			1
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= WeightedSum.find_by(user_id: user.id, alternative_id: alternative.id).value_weighted_sum %>
		</td>
		<% end %>
	</tr>
</table>
<% end %>

<h3> Team Decision Outcome </h3>
<table>
	<tr>
		<td>
			Criterion
		</td>
		<td>
			Weight
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= alternative.name %>
		</td>
		<% end %>
	</tr>
	<% @decisionroom.criterions.each do |criterion| %>
	<tr>
		<td>
			<%= criterion.name %>
		</td>
		<td>
			<%= criterion.weight %>
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= Teamoutcome.find_by(alternative_id: alternative.id, criterion_id: criterion.id).average_value %>
		</td>
		<% end %>
	</tr>
	<% end %>
	<tr>
		<td>
			Sum
		</td>
		<td>
			1
		</td>
		<% @decisionroom.alternatives.each do |alternative| %>
		<td>
			<%= TeamoutcomeSum.find_by(decisionroom_id: @decisionroom.id, alternative_id: alternative.id).outcome_sum %>
		</td>
		<% end %>
	</tr>
</table>

<%= link_to "Back", decisionroom_path(@decisionroom) %>


