<article id="main">
<section class="wrapper style5">
<div class="inner">
<section>
<h2 style="text-align: center;">
	Decision Participants
</h2>
<table>
	<tr>
		<td>
			No.
		</td>
		<td>
			Name
		</td>
		<td>
			Email
		</td>
		<td>
			Has voted?
		</td>
		<% if current_user.id == @decisionroom.creator.id %>
		<td>
			Delete
		</td>
		<% end %>
	</tr>
		<% $i = 1 %>
		<% @decisionroom.users.each do |dm| %>
	<tr>
		<td>
			<%= $i %> 
		</td>
		<td>
			<%= dm.name %>
		</td>
		<td>
			<%= dm.email %>
		</td>
		<td>
			<% if  User.find(dm.id).has_voted then %>
			<%= "Yes" %>
			<% else %> 
			<%= "No" %>
			<% end %>
		</td>
		<% if current_user.id == @decisionroom.creator.id %>
		<td>
			<% if User.find(dm.id).id != @decisionroom.creator.id then %>
			<%= link_to "Remove", decisionroom_user_path(decisionroom_token: @decisionroom.token, user_id: dm.id, id: dm.id), :method => :delete %>
			<% end %>
		</td>
		<% end %>
	</tr>
	<% $i += 1 %>
	<%end %>
</table>
<p style="text-align: center;">
<%= link_to "Back", :back, class: "button" %>
</p>
</section>
</div>
</section>
</article>