<!DOCTYPE html>
<html>
  <head>
    <title>DMT4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="landing">
    <div id="page-wrapper">
    <!-- header -->
    <header id="header" class="alt" style="background-color: black;">
      <% if !current_user.nil? then %>
      <h1><%= link_to "deciVo", decisionroom_path(@decisionroom)%> alphaest alpha version ever </h1>
      <% else %>
      <h1><%= link_to "deciVo", new_decisionroom_path%> alphaest alpha version ever </h1>
      <% end %>
      <% if !current_user.nil? then %>
            <%= link_to "Add Decisionmakers", decisionroom_user_add_member_path(decisionroom_token: @decisionroom.token), {class: "button", style: "position:absolute;right:0;"} %>
      <%end%>
      <!-- nav -->
      <!-- nav end -->
    </header>


    <!-- end of header -->
    </br>
    </br>
    <div style="text-align:center;">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
    <div>
    </div>
  </body>
</html>